Repository jayanthkoushik/infopt: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, test, nbstrip, buildpdf, mypy

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

test:
  name: test
  entry: poetry run python -m unittest
  language: system
  pass_filenames: false

nbstrip:
  name: strip jupyter notebooks
  entry: .githooks/nbstrip.sh
  language: script

buildpdf:
  name: build pdf of paper
  entry: .githooks/buildpdf.sh
  language: script

mypy:
  name: mypy
  entry: poetry run mypy --ignore-missing-imports .
  language: system
  pass_filenames: false

Fix issue with multiple calls to jacobian using tf.function
  exputils/models_tf.py
  infopt/nnmodel_tf.py
Due: black, isort, pylint, test, mypy

Refactor torch2tf notebooks & update results
  exp_sim_optim_simple.py
  exputils/objectives.py
  test_torch2tf_ackley.ipynb
  test_torch2tf_ihvp.ipynb
  test_torch2tf_randomnn.ipynb
Due: black, isort, pylint, nbstrip, mypy

Add NN-MCD (TF2) and 2D experiments
  exp_sim_optim_simple.py
  infopt/nnacq_tf.py
  infopt/nnmodel_mcd_tf.py
  test_mcdropout_ackley.ipynb
  test_mcdropout_randomnn.ipynb
  test_torch2tf_ackley.ipynb
  test_torch2tf_randomnn.ipynb
Due: black, isort, pylint, test, nbstrip, mypy

Add simple code run-through (original infopt)
  runs.md
Due: none

Add README.tf2.md and corresponding poetry.lock & pyproject.toml
  README.tf2.md
  poetry.lock
  pyproject.toml
Due: none

Remove IHVP test ipynb
  test_torch2tf_ihvp.ipynb
Due: nbstrip

Update README.tf2.md and runs.md
  README.tf2.md
  runs.md
  test_torch2tf_ihvp.ipynb
Due: nbstrip

Remove IHVP test ipynb (again)
  test_torch2tf_ihvp.ipynb
Due: nbstrip

Add tf2 models to exp_sim_optim.py
  exp_sim_optim.py
  exputils/models_tf.py
  exputils/parsing.py
  infopt/nnmodel_mcd_tf.py
  infopt/nnmodel_tf.py
Due: black, isort, pylint, test, mypy

Add BPNN experiments using TF2 (WIP)
  exp_bpnn_optim.py
  exputils/models_bpnn.py
  exputils/objectives.py
  infopt/nnacq_tf.py
  infopt/nnmodel_mcd_tf.py
  infopt/nnmodel_tf.py
  runs/2021-08-04.sh
  runs/2021-08-13.sh
Due: black, isort, pylint, test, mypy

Update plotting function for TF2 & BPNN models
  exputils/plotting.py
Due: black, isort, pylint, mypy

Fix bugs in BPNN scripts
  exp_bpnn_optim.py
  exputils/models_bpnn.py
  exputils/models_tf.py
  exputils/objectives.py
  exputils/parsing.py
  infopt/nnacq_tf.py
  infopt/nnmodel_mcd_tf.py
  infopt/nnmodel_tf.py
Due: black, isort, pylint, test, mypy

Update experiment scripts
  runs/2021-08-04.sh
  runs/2021-08-13.sh
Due: none

Updates for BPNN run 2 (better parameters, lr scheduler, etc.)
  exp_bpnn_optim.py
  exputils/models_bpnn.py
  exputils/objectives.py
  exputils/objectives_bpnn.py
  exputils/optimization.py
  exputils/parsing.py
  exputils/plotting.py
  infopt/nnmodel_mcd_tf.py
  infopt/nnmodel_tf.py
  runs/2021-08-04.sh
  runs/2021-08-13.sh
Due: black, isort, pylint, test, mypy

Add precision/recall/f1 evaluations for BPNN
  exp_bpnn_optim.py
  exputils/objectives_bpnn.py
  runs/2021-08-13.sh
Due: black, isort, pylint, mypy

Add cR and iR plots
  exp_bpnn_optim.py
  exputils/models_bpnn.py
  exputils/plotting.py
  runs/2021-08-13.sh
Due: black, isort, pylint, mypy

Allow multi-output models
  infopt/nnacq_tf.py
  infopt/nnmodel_mcd_tf.py
  infopt/nnmodel_tf.py
Due: black, isort, pylint, test, mypy

Allow multi-input NN in ihvp
  infopt/nnmodel_tf.py
Due: black, isort, pylint, test, mypy

Use tuples instead of lists for NN input/output
  infopt/nnacq_tf.py
  infopt/nnmodel_mcd_tf.py
  infopt/nnmodel_tf.py
Due: black, isort, pylint, test, mypy

Fix dtype for ihvp approximation net
  infopt/ihvp_tf.py
Due: black, isort, pylint, test, mypy

Add TF2 utility functions for multi-tensor handling + refactoring
  infopt/nnacq_tf.py
  infopt/nnmodel_mcd_tf.py
  infopt/nnmodel_tf.py
  infopt/utils.py
  runs/2021-08-04.sh
  runs/2021-08-13.sh
Due: black, isort, pylint, test, mypy

Ensure 2d outputs for tf NNs
  infopt/nnacq_tf.py
  infopt/nnmodel_mcd_tf.py
  infopt/nnmodel_tf.py
Due: black, isort, pylint, test, mypy

Perform SVD on CPU for TF2
  infopt/ihvp_tf.py
Due: black, isort, pylint, test, mypy

Add early stopping as an option for model updates
  exputils/models_tf.py
  exputils/parsing.py
  infopt/nnmodel_mcd_tf.py
  infopt/nnmodel_tf.py
Due: black, isort, pylint, test, mypy

Reshape model outputs into 2d (bugfix)
  infopt/nnacq_tf.py
  infopt/nnmodel_mcd_tf.py
  infopt/nnmodel_tf.py
  infopt/utils.py
Due: black, isort, pylint, test, mypy

Update kwargs to models_bpnn
  exputils/models_bpnn.py
Due: black, isort, pylint, mypy

Enhance model update logging & fix shape error with NN-MCD
  infopt/nnacq_tf.py
  infopt/nnmodel_mcd_tf.py
  infopt/nnmodel_tf.py
  runs/2021-08-13.sh
Due: black, isort, pylint, test, mypy

Improve plotting
  exputils/plotting.py
Due: black, isort, pylint, mypy

Fix bug for nn-greedy
  infopt/nnacq_tf.py
Due: black, isort, pylint, test, mypy

Add greedy option in plotting
  exputils/plotting.py
Due: black, isort, pylint, mypy

Improve plotting for bpnn
  exputils/plotting.py
Due: black, isort, pylint, mypy

Deploy using paje
  404.html
  fig/alg.png
  fig/mnist.png
  fig/synth.png
  index.html
Due: none

Update build-website.yml
  .github/workflows/build-website.yml
Due: none

Deploy using paje
  fig/alg.png
  fig/mnist.png
  fig/synth.png
  index.html
Due: none

ci: deploy with paje
  fig/alg.png
  fig/mnist.png
  fig/synth.png
Due: none

Implement recalibrated infopt (tf2)
  exputils/models_bpnn.py
  exputils/parsing.py
  infopt/nnacq_tf.py
  infopt/nnmodel_mcd_tf.py
  infopt/nnmodel_tf.py
  infopt/recalibration.py
  poetry.lock
  pyproject.toml
  runs/2021-08-13.sh
Due: black, isort, pylint, test, mypy

properly monitor recalibration metrics
  exp_bpnn_optim.py
  exputils/plotting.py
  infopt/nnacq_tf.py
  infopt/nnmodel_mcd_tf.py
  infopt/nnmodel_tf.py
Due: black, isort, pylint, test, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  test: any of: infopt/|tests/
  nbstrip: any of: \.ipynb$
  buildpdf: any of: paper/
  mypy: any of: \.py$
